
<footer>
    <div class="container" style="margin-top: 100px">
        <div class="row">
            <h1>
                <a href="">
                    <img style="width: 10%" src="https://copyrights.vn/images/logo.png">
                </a>
            </h1>
        </div>
        <div class="row">
            <p>
                Là hệ thống giám sát, bảo vệ và phân phối bản quyền các tác phẩm âm nhạc trên môi trường Internet. Hệ thống cho phép các cá nhân / tổ chức vào thực hiện việc đăng ký sử dụng tự động các tác phẩm âm nhạc. Tất cả các chủ sở hữu bản quyền khi có các nội dung cần bảo vệ bản quyền vui lòng gửi email tới địa chỉ: <a style="color: orangered" href="mailto:banquyen@copyrights.vn">banquyen@copyrights.vn</a>
            </p>
        </div>
    </div>
    <div class="container">
        <a style="color: orangered" href="">© Copyright Trung tâm đầu tư sáng tạo và khai thác bản quyền tác giả số Việt Nam</a>
    </div>
</footer>
