@{
    ViewData["Title"] = "Liên hệ";
}
<section class="well-xs text-xs-left" style="background: black">
    <br />
    <div class="container">
        <h1 class="section-title">Liên hệ</h1>
        <div class="row">
            <div class="col-md-7">
                <div class="direct-contact-container">
                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Tòa Golden West, số 2 Lê Văn Thiêm, Thanh Xuân Trung, Thanh Xuân, Hà Nội</span></i></li>
                        @*<li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:02466842838" title="Gọi ngay">02466842838</a></span></i></li>*@
                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:banquyen@copyrights.vn" title="Gửi email">banquyen@copyrights.vn</a></span></i></li>
                    </ul>
                    <ul class="social-media-list">
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" class="contact-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.8518166056674!2d105.8055832!3d20.9985763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbd600e3c1f%3A0x444b0cb4b96d167d!2zMiBQLiBMw6ogVsSDbiBUaGnDqm0sIFRoYW5oIFh1w6JuIFRydW5nLCBUaGFuaCBYdcOibiwgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1654737858334!5m2!1svi!2s" width="450" height="450" style="border:0; margin-top: 50px; margin-bottom: 50px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>