@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<section class="first-section">
    <!-- background -->
    <img class="background" src="https://copyrights.vn/images/slide021.jpg" alt="img">
    <div class="container">
        <div class="row">
            <div class="texts col-12">
                <p class="pl-10">HA Record </p>
                <h4 class="text-light font-weight-bold">Đến với hệ thống cảnh báo bản quyền VCCDC - bảo vệ bản quyền tác giả</h4>
                <h4 class="text-light font-weight-bold">Hệ thống đầu tiên sử dụng trí tuệ nhân tạo để bảo vệ bản quyền tác giả</h4>
            </div>
        </div>
        <img id="arrow" src="https://i.imgur.com/72WaeiK.png" alt="arrow">
    </div>
</section>
@*
    card content
*@

<main class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">NGHỆ SĨ</h2>
            <p class="copy">Nghệ sĩ của công ty chúng tôi nè</p><a href="~/artist" class="but btn">Đến xem</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">LIÊN HỆ</h2>
            <p class="copy">Đây là nơi chứa những thông tin liên hệ của chúng tôi</p><a href="~/contact" class="but btn">Đến xem</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">GIỚI THIỆU</h2>
            <p class="copy">Đôi chút về công ty của chúng tôi</p><a href="~/about" class="but btn">Đến xem</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">ĐĂNG NHẬP/ ĐĂNG KÝ</h2>
            <p class="copy">Hãy đăng nhập hoặc đăng ký để trải nghiệm những tính năng của chúng tôi</p><a href="~/account/thong-tin-ca-nhan" class="but btn">Đăng nhập/Đăng ký</a>
        </div>
    </div>
</main>