@{
    ViewData["Title"] = "Giới thiệu";
}
<link rel="stylesheet" href="~/css/about.css" />
<section class="well-xs text-xs-left" style="background: black">
    <div class="container">
        <h1 class="section-title" style="color: white">Giới thiệu</h1>
        <div class="row">
            <div class="col-md-12" style="color: white">
                Trung tâm đầu tư sáng tạo và khai thác bản quyền tác giả số Việt Nam, là trung tâm trực thuộc Hiệp hội sáng tạo và bản quyền tác giả Việt Nam thành lập vào ngày 02 tháng 06 năm 2022. Giấy chứng nhận số: A2483 do Bộ Khoa Học và Công Nghệ chứng nhận.

                <br /><br />
                Trung tâm đầu tư sáng tạo và khai thác bản quyền tác giả số Việt Nam thành lập với mong muốn cộng tác cùng với các tác giả trong và ngoài nước để đầu tư, sáng tạo ra các tác phẩm âm nhạc mới, giúp làm mới các tác phẩm âm nhạc và với sự cho phép của tác giả, chủ sở hữu quyền tác giả để sáng tạo các bản phái sinh từ bản nhạc của tác giả.
                <br /><br />
                Bên cạnh việc tập trung vào đầu tư, sáng tạo các tác phẩm âm nhạc mới, trung tâm vận hành êkip: Luật sư, Công nghệ thông tin có kinh nghiệm lâu năm trong lĩnh vực quản lý, giám sát và phân phối bản quyền tuân thủ đúng quy định pháp luật về bản quyền tác giả nhằm đưa các tác phẩm âm nhạc tới công chúng hưởng thụ.
                <br /><br />
                Trung tâm đầu tư sáng tạo và khai thác bản quyền tác giả số Việt Nam vận hành hệ thống giám sát bản quyền bằng trí tuệ nhân tạo để kiểm soát toàn bộ các tác phẩm âm nhạc do Trung tâm đầu tư sáng tạo và khai thác bản quyền tác giả số Việt Nam được các chủ sở hữu bản quyền mong muốn ủy quyền, việc giám sát bản quyền tốt sẽ giúp các chủ sở hữu bản quyền kiểm soát việc khai thác tác phẩm một cách hiệu quả đồng thời hệ thống trí tuệ nhân tạo sẽ giúp thống kê và phản ánh tới chủ sở hữu bản quyền số liệu cụ thể của người dùng giúp chủ sở hữu bản quyền nắm bắt được thị hiếu công chúng để tạo ra các nội dung mới phù hợp với công chúng.
                <img src="/images/qd.jpg" alt="Giấy quyết định thành lập" />
                <img src="/images/qd1.jpg" alt="Giấy quyết định thành lập" />
            </div>
        </div>
    </div>
</section>